<!DOCTYPE html>
<html>
<body>

<h1>Show File-select Fields</h1>

<h3>Show a file-select field which allows only one file to be chosen:</h3>
<form action="Results" id="usrform" enctype="multipart/form-data" method="post">
  <table><tr><td> 
  <label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile"><br><br>
  <label for="email1">Enter Email :</label>
  <input type="email" id="email1" name="email1"><br><br>
  <label for="email2">Enter Email :</label>
  <input type="email" id="email2" name="email2"><br><br>
  <label for="email3">Enter Email :</label>
  <input type="email" id="email3" name="email3"><br><br>
  <label for="email4">Enter Email :</label>
  <input type="email" id="email4" name="email4"><br><br>
  <label for="email5">Enter Email :</label>
  <input type="email" id="email5" name="email5"><br><br>
  
  <!-- <textarea name="comment" form="usrform"  id='mail1' rows="5" cols="33">Enter Email Address here...</textarea> -->
  </td></tr> 
  <tr><td><input type="submit"></td></tr>

 </table> 
</form>
{{msg}}
<br>

<!-- <textarea name="comment" form="usrform"  id='mail1' rows="5" cols="33">Enter Email Address here...</textarea> -->

</body>
</html>